# Jar to be download on academy
kafka-connect-dse-1.0.0.jar

# eclipse conf file
.settings
.classpath
.project
.cache

# idea conf files
.idea
*.ipr
*.iws
*.iml

# building
target
build
tmp
dist

# misc
.DS_Store
.java-version
nohup.out
webui.log
